/*set 1:*/
$color1: #005ea8;
$color2: #edae49;
$color3: #d1495b;
$color4: #003d5b;
$color5: #0caadc;


/*set 2:*/
$color1: #005ea8;
$color2: #222e50;
$color3: #439a86;
$color4: #bcd8c1;
$color5: #e9d985;


/*set 3:*/
$color1: #005ea8;
$color2: #edae49;
$color3: #d1495b;
$color4: #003d5b;
$color5: #e9d985;


/*set 4:*/
$color1: #005ea8;
$color2: #4d7c8a;
$color3: #7f9c96;
$color4: #8fad88;
$color5: #cbdf90;

/*set 5:*/
$color1: #005ea8;
$color2: #251101;
$color3: #470024;
$color4: #5b1865;
$color5: #5688c7;


/*set 6:*/
$color1: #005ea8;
$color2: #4cb944;
$color3: #fdfffc;
$color4: #f5ee93;
$color5: #f06543;

/*set 7:*/
$color1: #005ea8;
$color2: #7cea9c;
$color3: #55d6be;
$color4: #5b4e77;
$color5: #593959;

/*set 8:*/
$color1: #005ea8;
$color2: #427aa1;
$color3: #ebf2fa;
$color4: #679436;
$color5: #a5be00;

/*set 9:*/
$color1: #005ea8;
$color2: #03256c;
$color3: #06bee1;
$color4: #ffffff;
$color5: #3a6ea5;

/*set 10:*/
$color1: #005ea8;
$color2: #122c34;
$color3: #224870;
$color4: #4ea5d9;
$color5: #44cfcb;

/*set 11:*/
$color1: #005ea8;
$color2: #8a716a;
$color3: #c2b8b2;
$color4: #204b57;
$color5: #44cfcb;

/*set 11:*/
$color1: #005ea8;
$color2: #a30000;
$color3: #ff7700;
$color4: #efd28d;
$color5: #00afb5;


/*set 12:*/
$color1: #005ea8;
$color2: #ef476f;
$color3: #ffd166;
$color4: #06d6a0;
$color5: #073b4c;

/*set 13:*/
$color1: #005ea8;
$color2: #2d3047;
$color3: #93b7be;
$color4: #eoca3c;
$color5: #a799b7;


/*set 14:*/
$color1: #005ea8;
$color2: #7cea9c;
$color3: #44d6be;
$color4: #5b4e77;
$color5: #593959;


/*set 15:*/
$color1: #005ea8;
$color2: #095256;
$color3: #5aaa95;
$color4: #86a873;
$color5: #bb9f06;
